<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Login</title>

        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body class="bg-gradient-primary">

        <div class="container py-4" ><!--Separacion entre el conjunto de elementos y el borde de la pagina-->

            <div class="row justify-content-center">

                <!--col-xl es el ancho total -->
                <div class="col-xl-12">

                    <div class="card o-hidden"><!--otorga el borde blanco a la tarjeta-->

                        <div class ="container py-3"><!--es el espacio entre los objectos y el borde-->

                            <div class="row justify-content-center"> <!-- esta fila contiene tanto la imagen como el formulario -->

                                <img class="img-fluid rounded" src="BolsasClap.jpg" style="width: 50%; height: auto"/><!--permite que la imagen sea responsiva-->

                                <div class="col-lg-6 container"><!--el col-lg asigna el tamaño del ancho -->

                                    <div class="p-2 text-center"><!-- hace una separacion entre el texto y el resto del contenido -->

                                        <FONT color ="black" style="font-size:25px;">INGRESA LOS DATOS</FONT>

                                    </div>

                                    <form th:action ="@{/BolsasGuardar}" th:object=${Bolsas} method="POST">

                                        <div class="card">

                                            <div class="card-body">

                                                <div class="form-group">
                                                    <label>ID BOLSA</label>
                                                    <input th:field="*{idBolsas}" type="text" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>BOLSAS A COMPRAR</label>
                                                    <input th:field="*{bolsasComprar}" type="text" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>EFECTIVO</label>
                                                    <input th:field="*{efectivo}" type="text" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>REFERENCIA</label>
                                                    <input th:field="*{referencia}" type="text" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>MONTO</label>
                                                    <input th:field="*{monto}" type="text" class="form-control"/>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label>CI JEFE DE LA FAMILIA</label>
                                                    <input th:field="*{jefeFamilia.cedulaJefe}" type="text" class="form-control"/>
                                                </div>

                                                <div class="form-group">
                                                    <label>FECHA</label>
                                                    <input th:field="*{fecha}" type="text" class="form-control"/>
                                                </div>
                                                
                                            </div>

                                            <div class="card-footer">
                                                <input type="submit" value="Guardar" class="btn btn-success">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

    </body>

</html>